extend base

block append meta
  // Meta Infomation
  title= title
  meta(name="description", content=description)
  meta(name="keywords", content=keywords)

  // Facebook OGP
  meta(name="og:title", content=title)
  meta(name="og:description", content=description)
  meta(name="og:type", content="website")
  meta(name="og:url", content=url)
  meta(name="og:image", content=ogImage)
  meta(name="og:site_name", content=title)

  // Twitter Card
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:title", content=title)
  meta(name="twitter:description", content=description)
  meta(name="twitter:image:src", content=ogImage)

block content
  main.main-content
    h1= title
    h2= description
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut ultricies augue. Integer quis tortor eros. Phasellus id nulla ultrices, dignissim lectus vel, tincidunt diam. Ut feugiat sit amet nunc ac porta. Nam luctus euismod elementum. Nulla rutrum, diam at pellentesque rutrum, nunc libero maximus ligula, eu tincidunt sem urna non felis. In ornare mauris et odio porttitor laoreet. Etiam sit amet lobortis nisi, ac dignissim odio.
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut ultricies augue. Integer quis tortor eros. Phasellus id nulla ultrices, dignissim lectus vel, tincidunt diam. Ut feugiat sit amet nunc ac porta. Nam luctus euismod elementum. Nulla rutrum, diam at pellentesque rutrum, nunc libero maximus ligula, eu tincidunt sem urna non felis. In ornare mauris et odio porttitor laoreet. Etiam sit amet lobortis nisi, ac dignissim odio.
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut ultricies augue. Integer quis tortor eros. Phasellus id nulla ultrices, dignissim lectus vel, tincidunt diam. Ut feugiat sit amet nunc ac porta. Nam luctus euismod elementum. Nulla rutrum, diam at pellentesque rutrum, nunc libero maximus ligula, eu tincidunt sem urna non felis. In ornare mauris et odio porttitor laoreet. Etiam sit amet lobortis nisi, ac dignissim odio.

block append stylesheet
  link(href="css/index.css", rel="stylesheet")

block append script-body
  script(src="js/index.js")
